!!!5
html
	head
		title Ci-Fi

		link(rel="stylesheet", href="/css/bootstrap.min.css")
		link(rel="stylesheet", href="/css/bootstrap-responsive.min.css")
		link(rel="stylesheet", href="/css/app.css")
		script(src="/js/jquery.min.js")
		script(src="/js/app.js")
	body
		div.navbar.navbar-inverse
			div.navbar-inner
				a(href="/").brand Doccify
		block content