.navbar-inner {
	border-radius: 0;
}

.hero {
	text-align: center;
	padding: 20px;
}


.hero-inner {
	display: inline-block;
	width: 400px;
	
	border: 1px solid #e5e5e5;
	background: #f8f8f8;
	padding: 20px;
	border-radius: 8px;
}

.center {
	text-align: center;
}

.container {
	margin: 0 auto;
}

.pull-up {
	margin-top: -45px;
}

.section {
	margin: 20px 40px;
}

hr {
	margin: 10px;
}

.output {
	background: #000;
	font: 12pt monospace;
	overflow: scroll;
	color: #fff;
	line-height: 1.5em;
	padding: 12px;
	margin: 20px;
}

.link {
	display: inline-block;
	margin: 12px;
}

.button {
	text-align: center;
}

.t_bold {
	font-weight: bold;
}

.t_green {
	color: #62c462;
}

.t_red {
	color: #b94a48;
}
/*.inline {
	display: inline-block;
	margin-right: 80%;
}*/