extend ../layouts/application
	
block content
	div.container
		div
			h3.link Projects 
			h3.link 
				a(href="/builds") Builds
			a(href="/projects/new").btn.btn-success.pull-right Create new

		hr
		div
			- if(projects.length === 0)
				div.alert.center No projects yet!
			- else
				- for(var i=0; i<projects.length; i++) {
					div.thumbnail.span2
						div.caption.center
							h4
									=projects[i].name
							hr
						div.center
							h5 Build Status 
								- if (projects[i].status)
									- if (projects[i].status === 'passing')
										span.label.label-success Passing
									- else if (projects[i].status === 'pending')
										span.label.label-warning Pending
									- else if (projects[i].status === 'failed')
										span.label.label-important Failed
								- else
									span.label.label-default Unknown
						div.button
							a(href="/build/#{projects[i]._id}").btn.btn-primary Run build
						div.button
							a(href="/edit/#{projects[i]._id}").btn.btn-primary Edit
				- }