extend ../layouts/application
	
block content
	div.container
		div
			h3 New Project
		hr

		form(action="/projects", method="POST")
			div.span4
				fieldset
					label Name
					input(type="text", name="name")
					label Repo URL
					input(type="text", name="repo")
					label Follow Branches
					input(type="text", name="branches")
			div.span4
				fieldset
					label Timeout per command (in seconds)
					input(type="text", name="timeout")
					label Scripts
					textarea(type="text", name="scripts")
					label.checkbox
						input(type="checkbox", name="automatic") 
						span Enable automatic builds
					label Build interval
					input(type="number", value="1", name="frequency")
			div.span8
					button(type="submit").btn.btn-primary.span1 Save
					button(type="cancel").btn.btn-danger.span1 Cancel


